/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 25, 2021, 8:30:48 PM
    Author     : judith
*/

body {
    font-family: Lato, Arial, sans-serif;
    font-size: 1rem;
}

#main {
    margin: 2rem;
}

#loadfile {
    margin: 1rem;
}

#tools {
    margin: 0.5rem;
}

#enter {
    border: 1px solid;
    padding: 1rem;
    margin: 0.5rem;
}

.sentence-tl {
    background-color: yellow;
}

.section-tl {
    border: 2px solid #000;
    padding: 12px;
    margin: 12px;
}

